node_modules
**/node_modules
.next
**/.next
.git
.gitignore
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
coverage
dist
*.md
docs
api
shared
database
postgres_data
.DS_Store
npm-debug.log*
.vercel
